*,::after,
::before{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-left: 5%;
    height: 10%;
}
.list-type, ul, a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    list-style-type: none;
    color: rgb(31, 31, 31);
    text-decoration: none;
    padding: 5px;
    height: auto;
    
}
.list-type li{
    font-size: 1rem;
}
#btn-resume button{
    border: 1px solid yellow;
    background-color: yellow;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.main-container{
    width: 100%;
    height: 100%;
}
.container-two{
    width: 100%;
    height: 100%;
    background-color: beige;
}
.container-box{
    /* border: 1px solid; */
    width: 25%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 15%;
    padding: 20px;
}
#text-speach{
    font-weight: bold;
    font-size: 5.5rem;
}
#about p{
    text-align: justify;
}
.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-link button{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    outline-color: white;
    cursor: pointer;
    background-color: tomato;
}
button:hover{
    background-color: yellow;
    color: black;
}
.btn-link img{
    display: flex;
    width: auto;
    height: 20px;
}
.profile-user{
    position: absolute;
    top: 10%;
    left: 100%;

}
.profile-user img{
    position: relative;
    left: 25%;
    width: auto;
    height: 350px;
}
#date{
    position: absolute;
    border: 1px solid;
    background-color: tomato;
    width: 20%;
    padding: 10px;
    top: 20%;
    left: 10%;
}
#citizen{
    position: absolute;
    top: 40%;
    left: 100%;
    border: 1px solid;
    background-color: tomato;
    width: 20%;
    padding: 10px;
}

.container-three{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}
/* .box-main{
    width: 100%;
    height: 100%;
    display: grid;
}
.box{
    border: 1px solid black;
    width: 20%;
    height: 30%;
} */
.box-main {
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.box {
    border: 1px solid rgb(119, 119, 119);
    border-radius: 10px 50px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.skills{
    display: flex;
}
.cont-contacts{
    width: 100%;
    height: 50%;
    background-color: beige;
}
.contacts{
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    font-size: 4rem;
}